.ButtonPanel {
    display:flex;
    align-items:center;
    justify-content:center;
    }

.detailsCard2 {
    position:fixed;
    width: 290px;
    height: 350px;
    bottom: 240px;
    right:10px;
    z-index: 30;
    font-family: sans-serif;
}

.detailsCard {
    position:fixed;
    top: 120px;
    left:10px;
    z-index: 10;
    }

.detailsCard2222 {
        background:rgb(55, 58, 63);
        font-family: sans-serif;
        color: #F5F8FA;
        width: 290px;
        height: 350px;
        position:fixed;
        top: 120px;
        right:10px;
        z-index: 10;
        }

    #textTwitter {
   
        text-align: left;
        margin-left:40px;
    
    }
    
    #textDanger {
       
    align-items: center;
    padding-left:30px;
    
    }
    
    #picTwitter {
        margin-left:40px;
    }
    
    #picDanger {
        padding-left:30px;
    
    
    }
    
    .ButtonPanel-brand1 {
        color: white;
        line-height: 15px;
        text-align: center;
        padding-right:50px;
    }
    
    .ButtonPanel-brand2 {
         color: white;
        line-height: 18px;
        text-align: center;
        padding-right:50px;
        max-height: 120px;
    
    }
    
    .botones {
        max-height: 10px;
    }

